/build/
/bin/app/Debug/
/bin/app/Release/
/bin/app/data/log/
/bin/lib/
/bin/test/Debug/
/bin/test/Release/
/bin/test/data/log/

/bin/app/data/window_settings.ini
/bin/app/data/ApplicationSettings.xml
/bin/app/data/ProjectSettings.xml

.DS_Store
