#projectButton {
	background: white;
	border: 1px solid lightgray;
	border-radius: 8px;
	color: black;
	padding: 3px 5px 2px;
	font-size: 14pt;
	min-width: 6em;
}

#projectButton:hover {
	color: white;
	background: #2D3F85;
}

#recentButton {
	background: none;
	border: none;
	color: black;
	font-size: 12pt;
}

#recentButtonMissing {
	background: none;
	border: none;
	color: grey;
	font-size: 12pt;
}

#recentButton:hover, #recentButtonMissing:hover {
	background-color: #CFD2E0;
	border-radius: 10px;
}

#recentLabel {
	color: black;
	font-size: 16pt;
	font-weight: bold;
}

#welcomeLabel {
	color: black;
	font-size: 12pt;
}
