#projectButton, #infoButton {
	background: white;
	border: 1px solid lightgray;
	border-radius: 8px;
	color: black;
	padding: 4px 5px 3px;
	font-size: 14px;
	min-width: 6em;
}

#infoButton {
	padding: 4px 15px 3px;
}

#projectButton:hover, #infoButton:hover {
	color: white;
	background: #2D3F85;
}

#recentButton, #recentButtonMissing {
	background: none;
	border: none;
	color: black;
	font-size: 12px;
}

#recentButtonMissing {
	color: grey;
}

#recentButton:hover, #recentButtonMissing:hover {
	background-color: #CFD2E0;
	border-radius: 10px;
}

#titleLabel {
	color: black;
	font-size: 16px;
	font-weight: bold;
	margin-left: 6px;
}

#textLabel {
	color: black;
	font-size: 12px;
}

#boldLabel {
	color: black;
	font-size: 12px;
	font-weight: bold;
	min-width: 200px;
}

#textField {
	background: white;
	border: 1px solid lightgray;
	border-radius: 12px;
	color: black;
	font-size: 12px;
	margin-top: 5px;
	min-width: 180px;
}

#textField[important=true] {
	border: 2px solid #007ac3;
}

#updateButton, #upgradeButton {
	margin: 1px 0 3px;
	text-align: left;
	padding: 0;
	background: none;
	border: none;
	color: #007AC2;
	font-size: 12px;
	text-decoration: underline;
}

#updateButton:disabled, #upgradeButton:disabled {
	color: black;
	text-decoration: none;
}
