QTableWidget {
	font-family: "<setting:font_name>";
	color: black;
	margin-top: 6px;
	background-color: white;
	alternate-background-color: #f6f6f6;
	selection-background-color: #227abf;
	selection-color: white;
	border-color: #666666;
	gridline-color: #666666;
}

QHeaderView {
	font-family: "<setting:font_name>";
}

#general_label, #code_label, #graph_label {
	font-size: 14px;
	font-weight: bold;
	color: black;
}
