* {
	font-size: 12pt;
}

QtDirectoryListBox {
	background-color: white;
	border: 1px solid lightgray;
	border-radius: 12px;
}

QListWidget {
	background: transparent;
	border: none;
	margin: 2px 0 2px 0;
}

QListWidget::item {
	height: 20px;
	border-bottom: 1px solid lightgray;
}

QListWidget::item:selected {
	background-color: #EEE;
}

QtListItemWidget #field {
	background-color: transparent;
	border: none;
	margin-top: 2px;
	margin-left: 5px;
}

#bar {
	border-top: 1px solid lightgray;
}

#plusButton, #minusButton, #dotsButton {
	color: white;
	height: 1em;
	margin-right: 3px;
	width: 1em;
	border: none;
}

#dotsButton {
	margin-top: 2px;
}

#plusButton {
	border-image: url(<setting:gui_path>window/plus.png);
}

#plusButton:hover {
	border-image: url(<setting:gui_path>window/plus_hover.png);
}

#minusButton {
	border-image: url(<setting:gui_path>window/minus.png);
}

#minusButton:hover {
	border-image: url(<setting:gui_path>window/minus_hover.png);
}

#dotsButton {
	border-image: url(<setting:gui_path>window/dots.png);
}

#dotsButton:hover {
	border-image: url(<setting:gui_path>window/dots_hover.png);
}

#dropInfo {
	color: #999;
}
