* {
	font-size: 12px;
}

QtListBox {
	background-color: white;
	border: 1px solid lightgray;
	border-radius: 12px;
}

QListWidget {
	background: transparent;
	border: none;
	margin: 2px 0 0 0;
}

QListWidget::item {
	border-bottom: 1px solid lightgray;
	height: 20px;
}

QListWidget::item:selected {
	background-color: #EEE;
}

QtListBoxItem #field {
	background-color: transparent;
	border: none;
	color: black;
	margin-top: 2px;
	margin-left: 5px;
}

QtListBoxItem #field:disabled {
	color: grey;
}

#bar {
	border-top: 1px solid lightgray;
}

#helpButton, #dotsButton, #plusButton, #minusButton, #editButton {
	border: none;
	color: white;
	height: 1em;
	width: 1em;
	padding: 1px;
}

#plusButton, #minusButton, #editButton {
	margin-right: 3px;
}

#editButton {
	margin-left: 6px;
	margin-right: 3px;
}

#editButton:hover {
	background-color: #EEE;
}

#dropInfo {
	color: #999;
	margin-top: 2px;
}
