#window * {
	font-size: 12px;
}

#window QLabel, #window QCheckBox {
	color: black;
}

#window QCheckBox::indicator {
	color: black;
}

#window QCheckBox:disabled {
	color: gray;
}

#window {
	background: white;
}

#title {
	font-size: 16px;
	font-weight: bold;
}

#subTitle {
	font-size: 13px;
	font-weight: bold;
	color: gray;
}

#sourceGroupTitle {
	font-size: 14px;
	font-weight: bold;
	background: white;
	padding: 5px;
	margin-left: 40px;
}

#sourceGroupDescription {
	font-size: 12px;
	margin-left: 20px;
}

#description {
	font-size: 12px;
}

#label {
	font-size: 12px;
	font-weight: bold;
}

#titleLabel {
	font-size: 14px;
	font-weight: bold;
}

#formArea {
	background: transparent;
	border: none;
}

#scrollArea {
	background: transparent;
	border: none;
	border-top: 1px solid lightgrey;
	border-bottom: 1px solid lightgrey;
}

#form {
	background: transparent;
}

#helpButton, #dotsButton {
	border: none;
	color: white;
	height: 1em;
	width: 1em;
	padding: 1px;
}

#dotsButton {
	margin-right: 2px;
}

#name, #picker {
	background: transparent;
	border-radius: 10px;
	border: 1px solid lightgrey;
	color: gray;
	padding: 2px 5px 0px;
}

#name:enabled, #picker:enabled {
	color: black;
}

#locationField {
	background: transparent;
	border: none;
	border-radius: 5px;
	color: gray;
	margin-left: 5px;
	margin-top: 2px;
}

#locationField:enabled {
	color: black;
}

#windowButton {
	background: white;
	border: 1px solid lightgray;
	border-radius: 8px;
	color: black;
	padding: 3px 8px 2px;
	font-size: 14px;
	min-width: 5em;
}

#windowButton:hover {
	color: white;
	background: #2D3C86;
}

#windowButton:default {
	border: 2px solid lightgray;
}

#windowButton:disabled {
	color: lightgray;
}

#menuButton {
	background: white;
	border: 2px solid #CFD2E0;
	border-right: none;
	border-radius: 8px;
	border-bottom-right-radius: 0px;
	border-top-right-radius: 0px;
	color: black;
	font-size: 15px;
	margin-right: 0px;
	height: 25px;
	width: 90px;
}

#menuButton:hover, #menuButton:checked {
	background: #CFD2E0;
}

#sourceGroupContainer {
	background: white;
	border: 1px solid lightgray;
	border-radius: 8px;
	margin-top: 15px;
	margin-left: 20px;
}

#sourceGroupButton {
	background: white;
	border-radius: 8px;
	color: black;
	font-size: 12px;
	width: 7em;
	height: 8em;
	margin: 5px;
}

#sourceGroupButton:hover, #sourceGroupButton:checked {
	background: #CFD2E0;
}

#textField, #pathList {
	background: white;
	border: 1px solid lightgray;
	border-radius: 12px;
	color: black;
	padding: 6px;
}

#project_menu {
	border-left: 1px solid lightgray;
}

#project_menu QListWidget {
	background: white;
	border: none;
	border-bottom: 1px solid lightgray;
	border-left: 1px solid lightgray;
	color: black;
	font-size: 12px;
}

#project_menu QListWidget::item, #project_menu #general_button {
	background: white;
	border: none;
	color: black;
	margin-top: 5px;
	padding: 3px 5px;
}

#project_menu #general_button {
	margin-top: 10px;
	font-size: 12px;
	text-align: left;
	border-left: 1px solid lightgray;
	padding: 4px 10px;
}

#project_menu QLabel {
	background: white;
	font-weight: bold;
	border: none;
	color: black;
	font-size: 12px;
	margin-top: 5px;
	padding: 3px 7px;
	border-left: 1px solid lightgray;
}

#project_menu QListWidget::item:hover, #project_menu QListWidget::item:selected,
#project_menu #general_button:hover, #project_menu #general_button:checked {
	background: #CFD2E0;
	color: black;
}

#project_menu QListWidget::item:disabled, #project_menu #general_button:disabled {
	background: white;
	color: gray;
}

#project_menu #action_button {
	background: white;
	border: none;
	color: white;
	margin: 5px 5px 3px;
	padding: 1px;
}
