* {
	font-size: 12pt;
}

QLabel, QCheckBox {
	color: black;
}

#title {
	font-size: 16pt;
	font-weight: bold;
}

#section, #projectTitle {
	font-size: 14pt;
	font-weight: bold;
}

#projectTitle {
	background: white;
	padding: 5px;
	margin-left: 40px;
}

#projectDescription {
	font-size: 12pt;
	margin-left: 20px;
}

#description {
	font-size: 12pt;
}

#label {
	font-size: 12pt;
	font-weight: bold;
}

#titleLabel {
	font-size: 14pt;
	font-weight: bold;
}

#formArea {
	background: transparent;
	border: none;
}

#scrollArea {
	background: transparent;
	border: none;
	border-top: 1px solid lightgrey;
	border-bottom: 1px solid lightgrey;
}

#form {
	background: transparent;
}

#helpButton, #dotsButton, #refreshButton {
	border: none;
	color: white;
	height: 1em;
	width: 1em;
}

#helpButton {
	border-image: url(<setting:gui_path>window/help.png);
}

#helpButton:hover {
	border-image: url(<setting:gui_path>window/help_hover.png);
}

#dotsButton {
	border-image: url(<setting:gui_path>window/dots.png);
}

#dotsButton:hover {
	border-image: url(<setting:gui_path>window/dots_hover.png);
}

#refreshButton {
	border-image: url(<setting:gui_path>window/refresh.png);
}

#refreshButton:hover {
	border-image: url(<setting:gui_path>window/refresh_hover.png);
}

#name, #picker {
	background: white;
	border-radius: 10px;
	border: 1px solid lightgrey;
	color: black;
	padding: 2px 5px 0px;
}

#locationField {
	background: white;
	border: none;
	border-radius: 5px;
	color: black;
	margin-left: 5px;
	margin-top: 2px;
}

#dotsButton, #refreshButton {
	margin-right: 2px;
}

#windowButton {
	background: white;
	border: 1px solid lightgray;
	border-radius: 8px;
	color: black;
	padding: 3px 5px 2px;
	font-size: 14pt;
	min-width: 5em;
}

#menuButton {
	background: white;
	border: none;
	border-radius: 8px;
	border-bottom-right-radius: 0px;
	border-top-right-radius: 0px;
	color: black;
	font-size: 15pt;
	margin-right: 0px;
	height: 25px;
	width: 90px;
}

#windowButton:hover {
	color: white;
	background: #2D3C86;
}

#windowButton:default {
	border: 2px solid lightgray;
}

#menuButton:hover, #menuButton:checked {
	background: #CFD2E0;
}

#windowButton:disabled {
	color: lightgray;
}

#projectContainer {
	background: white;
	border: 1px solid lightgray;
	border-radius: 8px;
	margin-top: 15px;
	margin-left: 20px;
}

#projectButton {
	background: white;
	border-radius: 8px;
	color: black;
	font-size: 12pt;
	width: 7em;
	height: 7em;
	margin-top: 10px;
}

#projectButton:hover, #projectButton:checked {
	background: #CFD2E0;
}

#textField {
	background: white;
	border: 1px solid lightgray;
	border-radius: 12px;
	color: black;
	padding: 6px;
}
