#undo_redo_bar {
	background: white;
}

QPushButton {
	background: #E0E0E0;
	border: none;
	background-position: 15px 5px;
	height: 30px;
	width: 30px;
}

#undo_button {
	border-bottom-left-radius: 12px;
	border-top-left-radius: 12px;
}

#redo_button {
	border-bottom-right-radius: 12px;
	border-top-right-radius: 12px;
}

#undo_button:disabled,
#redo_button:disabled {
	background: #F4F4F4;
}

#undo_button:hover,
#redo_button:hover {
	background: #B2B2B2;
}

#undo_button:pressed,
#redo_button:pressed {
	background: #626262;
}

QToolTip {
	background-color: rgb(204, 204, 204);
	border: 1px solid rgb(0, 0, 0);
	color: rgb(0, 0, 0);
}
