#undo_redo_bar {
	background: transparent;
}

QPushButton {
	background: <color:search/button/normal>;
	border: none;
	background-position: 15px 5px;
	height: 30px;
	width: 30px;
}

#undo_button {
	border-bottom-left-radius: 12px;
	border-top-left-radius: 12px;
	margin-right: 2px;
}

#redo_button {
	border-bottom-right-radius: 12px;
	border-top-right-radius: 12px;
}

QPushButton:disabled {
	background: <color:search/button/disabled>;
}

QPushButton:hover {
	background: <color:search/button/hover>;
}

QPushButton:pressed {
	background: <color:search/button/press>;
}
