#window QLabel,
#window QCheckBox,
#window QRadioButton {
	color: white;
}

#window QRadioButton::indicator {
	background: white;
	border-radius: 6px;
	border: 3px solid white;
	width: 6px;
	height: 6px;
	margin-right: 5px;
}

#window QRadioButton::indicator:checked {
	background: #444;
}

#topHalf {
	background: #007AC2;
	border-top-left-radius: 15px;
	border-top-right-radius: 15px;
}

#title {
	color: white;
	font-size: 22px;
	font-weight: bold;
}

#percent {
	font-size: 22px;
	font-weight: bold;
}

#message {
	font-size: 14px;
	font-weight: bold;
}

#option {
	font-size: 14px;
	margin-left: 15px;
}

#option:disabled {
	color: #A0FFFFFF;
}

#filePath {
	font-size: 11px;
}

#errorCount {
	border: none;
	background: transparent;
	color: white;
	font-size: 14px;
}

#windowButton {
	background: transparent;
	border: 1px solid white;
	color: white;
}

#windowButton:hover {
	background: transparent;
	border: 1px solid white;
	color: white;
}

#windowButton:hover {
	color: #2E3C86;
	background: white;
}

#windowButton:default {
	border: 2px solid white;
}
