<?xml version='1.0'?>
<Wix xmlns='http://schemas.microsoft.com/wix/2006/wi'>

	<Fragment>
		<DirectoryRef Id='SourcetrailAppData'>			
			<Directory Id="SampleProjects" Name="projects">
				<Component Id="SampleProjects" Guid="12F6C3BE-CE83-441A-8A5D-E49EA1483F24" Win64="$(var.Win64)">
					<RemoveFolder Id='SampleProjects' On='uninstall' />
					<RegistryValue Root='HKCU' Key='SampleProjectDir' Type='string' Value='' KeyPath='yes' />
				</Component>
			</Directory>
		</DirectoryRef>
	</Fragment>
</Wix>
