<?xml version='1.0' encoding='windows-1252'?>
<Wix xmlns='http://schemas.microsoft.com/wix/2006/wi'>

    <Product Name='Coati' Manufacturer='Coati Software OG'
        Id='596E7336-D5B9-449A-95E9-6040F354E283'
        UpgradeCode='6DAB9E05-6E5B-4D26-A2A0-8F1757F2A4EF'
        Language='1033' Codepage='1252' Version='$(var.projectVersion)'>

		<Package Id='*' Keywords='Installer' Description="Coati Installer"
			Comments='Coati is a registered trademark of Coati Software OG' Manufacturer='Coati Software OG'
			InstallerVersion='100' Languages='1033' Compressed='yes' SummaryCodepage='1252' />

		<Media Id='1' Cabinet='Sample.cab' EmbedCab='yes' DiskPrompt='CD-ROM #1' />

		<Property Id='DiskPrompt' Value="Coati Installation [1]" />
		<Property Id="INSTALLDESKTOPSHORTCUT" />
		<Property Id="INSTALLSTARTMENUSHORTCUT" Value="true" />

		<!-- Shortcuts -->
		<Upgrade Id='A4C8F644-9A8C-4825-8C48-F6A98F111722'>
			<UpgradeVersion OnlyDetect='yes' Property='SELFFOUND'
				Minimum='$(var.projectVersion)' IncludeMinimum='yes'
				Maximum='$(var.projectVersion)' IncludeMaximum='yes' />
			<UpgradeVersion OnlyDetect='yes' Property='NEWERFOUND'
				Minimum='$(var.projectVersion)' IncludeMinimum='no' />
		</Upgrade>

		<Directory Id='TARGETDIR' Name='SourceDir'>

			<!-- This would be an alternative to include C++ runtime stuff, currently the required DLLs are included directly instead -->
			<!-- <Merge Id="VCRedist" SourceFile="C:\Program Files (x86)\Common Files\Merge Modules\Microsoft_VC140_CRT_x86.msm" DiskId="1" Language="0"/> -->

			<Directory Id="ProgramMenuFolder" Name="Programs">
				<Directory Id="ProgramMenuDir" Name="Coati">
					<Component Id="UninstallShortcut" Guid="028B666E-FAE8-4F53-A0E6-C2E0396CB6F2">
						<Condition>INSTALLSTARTMENUSHORTCUT</Condition>
						<!-- <Shortcut Id="UninstallProduct"
									Name="Coati Uninstall"
									Description="Uninstall Coati"
									Target="[System64Folder]msiexec.exe"
									Arguments="/x [ProductCode]"/> -->

						<Shortcut Id="UninstallProduct"
								Name="Uninstall Coati"
								Description="Remove Coati from your computer"
								Target="[INSTALLDIR]uninstall.bat" />

						<RegistryValue Root="HKCU" Key="Software\[Manufacturer]\[ProductName]\CoatiUninstall" Name="installed" Type="integer" Value="1" KeyPath="yes"/>
						<RemoveFolder Id='ProgramMenuDir' On='uninstall' />
					</Component>

					<Component Id="ApplicationShortcut" Guid="5AD30B21-61BA-4002-AF2F-E9E69989E446">
						<Condition>INSTALLSTARTMENUSHORTCUT</Condition>
						<Shortcut Id="ApplicationStartMenuShortcut"

									Name="Coati"
									Description="The Source Explorer"
									Target="[INSTALLDIR]Coati.exe"
									WorkingDirectory="INSTALLDIR"/>
						<RegistryValue Root="HKCU" Key="Software\[Manufacturer]\[ProductName]\CoatiShortcut" Name="installed" Type="integer" Value="1" KeyPath="yes"/>
					</Component>
				</Directory>
			</Directory>


			<Directory Id="DesktopFolder" Name="Desktop">
				<Component Id='DesktopShortcut' Guid='285FA7FC-F355-4892-AFA7-DD49B8D81563'>
					<Condition>INSTALLDESKTOPSHORTCUT</Condition>
					<Shortcut Id="ApplicationDesktopShortcut"
								Name="Coati"
								Description="Source Explorer"
								Target="[INSTALLDIR]Coati.exe"
								WorkingDirectory="INSTALLDIR"/>
					<RemoveFolder Id="DesktopFolder" On="uninstall"/>
					<RegistryValue Root="HKCU" Key="Software\[Manufacturer]\[ProductName]\CoatiDesktop" Name="installed" Type="integer" Value="1" KeyPath="yes"/>
				</Component>
			</Directory>

			<!-- Application Folder -->
			<Directory Id='ProgramFilesFolder' Name='PFiles'>
				<Directory Id='COMPANYDIR' Name='Coati Software'>
					<Directory Id='INSTALLDIR' Name='Coati' />
				</Directory>
			</Directory>


			<!-- AppData Folder -->
			<Directory Id="LocalAppDataFolder">
				<Directory Id="CoatiSoftwareAppData" Name="Coati Software">

					<Component Id="CoatiSoftwareAppDataDummy" Guid="E57CFAEC-B3E7-45EB-8B94-F50EBDA1355C">
						<CreateFolder />
						<RemoveFolder Id='CoatiSoftwareAppData' On='uninstall' />
						<RegistryKey Action="none" Key="Software\[Manufacturer]\[ProductName]\coatiSoftwareAppData" Root="HKCU" >
							<RegistryValue Type="integer" Value="1" KeyPath="yes" />
						</RegistryKey>
					</Component>

					<Directory Id="CoatiAppData" Name="Coati">
						<Component Id="WindowSettingsIni" Guid="F6E9CCD3-C2BE-4309-8E0F-B1FC7ABB189E">
							<CreateFolder />
							<RemoveFolder Id='WindowSettingsIni' On='uninstall'/>
							<RegistryKey Action="none" Key="Software\[Manufacturer]\[ProductName]\coatiWindowSettings" Root="HKCU" >
								<RegistryValue Type="integer" Value="1" KeyPath="yes" />
							</RegistryKey>
							<File Id='windowSettings' Name='window_settings.ini' DiskId='1' Source='./../../../bin/app/Release/user/window_settings_for_package.ini' KeyPath='no' />
						</Component>
					</Directory>
				</Directory>
			</Directory>
		</Directory>



		<Feature Id='Complete' Title='Coati' Description='Source Explorer' Display='expand' Level='1' ConfigurableDirectory='INSTALLDIR'>
			<Feature Id='Program' Title='Program' Description='The main installation' Level='1'>
				<!-- Prerequisites -->
				<!-- <MergeRef Id='VCRedist'/> --> <!-- see comment at declaration -->

				<!-- Application Folder Stuff -->
				<ComponentRef Id='MainExecutable'/>

				<ComponentRef Id='ApplicationShortcut'/>
				<ComponentRef Id='DesktopShortcut'/>
				<ComponentRef Id='UninstallShortcut'/>

				<ComponentRef Id='Qt5CoreDll'/>
				<ComponentRef Id='Qt5GuiDll'/>
				<ComponentRef Id='Qt5NetworkDll'/>
				<ComponentRef Id='Qt5WidgetsDll'/>

				<ComponentRef Id='apiMsWinCoreConsole_l1_1_0Dll'/>
				<ComponentRef Id='apiMsWinCoreDatetime_l1_1_0Dll'/>
				<ComponentRef Id='apiMsWinCoreDebug_l1_1_0Dll'/>
				<ComponentRef Id='apiMsWinCoreErrorhandling_l1_1_0Dll'/>
				<ComponentRef Id='apiMsWinCoreFile_l1_1_0Dll'/>
				<ComponentRef Id='apiMsWinCoreFile_l1_2_0Dll'/>
				<ComponentRef Id='apiMsWinCoreFile_l2_1_0Dll'/>
				<ComponentRef Id='apiMsWinCoreHandle_l1_1_0Dll'/>
				<ComponentRef Id='apiMsWinCoreHeap_l1_1_0Dll'/>
				<ComponentRef Id='apiMsWinCoreInterlocked_l1_1_0Dll'/>
				<ComponentRef Id='apiMsWinCoreLibraryloader_l1_1_0Dll'/>
				<ComponentRef Id='apiMsWinCoreLocalization_l1_2_0Dll'/>
				<ComponentRef Id='apiMsWinCoreMemory_l1_1_0Dll'/>
				<ComponentRef Id='apiMsWinCoreNamedpipe_l1_1_0Dll'/>
				<ComponentRef Id='apiMsWinCoreProcessEnvironment_l1_1_0Dll'/>
				<ComponentRef Id='apiMsWinCoreProcessThreads_l1_1_0Dll'/>
				<ComponentRef Id='apiMsWinCoreProcessThreads_l1_1_1Dll'/>
				<ComponentRef Id='apiMsWinCoreProfile_l1_1_0Dll'/>
				<ComponentRef Id='apiMsWinCoreRtlSupport_l1_1_0Dll'/>
				<ComponentRef Id='apiMsWinCoreString_l1_1_0Dll'/>
				<ComponentRef Id='apiMsWinCoreSynch_l1_1_0Dll'/>
				<ComponentRef Id='apiMsWinCoreSynch_l1_2_0Dll'/>
				<ComponentRef Id='apiMsWinCoreSysInfo_l1_1_0Dll'/>
				<ComponentRef Id='apiMsWinCoreTimezone_l1_1_0Dll'/>
				<ComponentRef Id='apiMsWinCoreUtil_l1_1_0Dll'/>
				<ComponentRef Id='apiMsWinCrtConio_l1_1_0Dll'/>
				<ComponentRef Id='apiMsWinCrtConvert_l1_1_0Dll'/>
				<ComponentRef Id='apiMsWinCrtEnvironment_l1_1_0Dll'/>
				<ComponentRef Id='apiMsWinCrtFilesystem_l1_1_0Dll'/>
				<ComponentRef Id='apiMsWinCrtHeap_l1_1_0Dll'/>
				<ComponentRef Id='apiMsWinCrtLocale_l1_1_0Dll'/>
				<ComponentRef Id='apiMsWinCrtMath_l1_1_0Dll'/>
				<ComponentRef Id='apiMsWinCrtMultibyte_l1_1_0Dll'/>
				<ComponentRef Id='apiMsWinCrtPrivate_l1_1_0Dll'/>
				<ComponentRef Id='apiMsWinCrtProcess_l1_1_0Dll'/>
				<ComponentRef Id='apiMsWinCrtRuntime_l1_1_0Dll'/>
				<ComponentRef Id='apiMsWinCrtStdio_l1_1_0Dll'/>
				<ComponentRef Id='apiMsWinCrtString_l1_1_0Dll'/>
				<ComponentRef Id='apiMsWinCrtTime_l1_1_0Dll'/>
				<ComponentRef Id='apiMsWinCrtUtility_l1_1_0Dll'/>
				<ComponentRef Id='ucrtbaseDll'/>
				<ComponentRef Id='qtConf'/>
				<ComponentRef Id='msvcp140_dll'/>
				<ComponentRef Id='vcruntime140_dll'/>

				<ComponentRef Id='QWindowsDll'/>

				<ComponentRef Id='MainCss'/>
				<ComponentRef Id='SplashBluePng'/>
				<ComponentRef Id='SplashWhitePng'/>

				<ComponentRef Id='AboutCss'/>
				<ComponentRef Id='IconClosePng'/>
				<ComponentRef Id='LogoAwsPng'/>
				<ComponentRef Id='LogoCoatiPng'/>
				<ComponentRef Id='LogoFhsPng'/>

				<ComponentRef Id='CodeViewCss'/>
				<ComponentRef Id='EditPng'/>
				<ComponentRef Id='MaximizeActivePng'/>
				<ComponentRef Id='MaximizeInactivePng'/>
				<ComponentRef Id='MinimizeActivePng'/>
				<ComponentRef Id='MinimizeInactivePng'/>
				<ComponentRef Id='PatternPng'/>
				<ComponentRef Id='SnippetActivePng'/>
				<ComponentRef Id='SnippetInactivePng'/>
				
				<ComponentRef Id='ErrorViewCss'/>

				<ComponentRef Id='GraphViewCss'/>
				<ComponentRef Id='ArrowGraphPng'/>
				<ComponentRef Id='BundlePng'/>
				<ComponentRef Id='EnumPng'/>
				<ComponentRef Id='FilePng'/>
				<ComponentRef Id='MacroPng'/>
				<ComponentRef Id='NamespacePng'/>
				<ComponentRef Id='GraphPatternPng'/>
				<ComponentRef Id='PrivatePng'/>
				<ComponentRef Id='ProtectedPng'/>
				<ComponentRef Id='PublicPng'/>
				<ComponentRef Id='TemplatePng'/>
				<ComponentRef Id='TypedefPng'/>

				<ComponentRef Id='C_icon_Png'/>
				<ComponentRef Id='Cdb_icon_Png'/>
				<ComponentRef Id='CoatiIco'/>
				<ComponentRef Id='Cpp_icon_Png'/>
				<ComponentRef Id='Empty_icon_Png'/>
				<ComponentRef Id='Java_icon_Png'/>
				<ComponentRef Id='Logo_1024_1024_Png'/>
				<ComponentRef Id='ProjectIco'/>
				<ComponentRef Id='Project_256_256_Png'/>
				<ComponentRef Id='Vs_icon_Png'/>

				<ComponentRef Id='ErrorPng'/>
				<ComponentRef Id='FlagPng'/>
				<ComponentRef Id='IndexingDialogCss'/>
				<ComponentRef Id='ProgressBarElementPng'/>

				<ComponentRef Id='LicenseCss'/>

				<ComponentRef Id='RefreshViewCss'/>
				<ComponentRef Id='RefreshPng'/>

				<ComponentRef Id='SearchViewCss'/>
				<ComponentRef Id='ArrowSearchPng'/>
				<ComponentRef Id='HomePng'/>
				<ComponentRef Id='SearchPng'/>

				<ComponentRef Id='StartscreenCss'/>

				<ComponentRef Id='DotPng'/>
				<ComponentRef Id='LoaderGif'/>
				
				<ComponentRef Id='TabbedViewCss'/>

				<ComponentRef Id='UndoRedoViewCss'/>
				<ComponentRef Id='ArrowLeftPng'/>
				<ComponentRef Id='ArrowRightPng'/>

				<ComponentRef Id='WindowDotsPng'/>
				<ComponentRef Id='WindowDotsHoverPng'/>
				<ComponentRef Id='HelpPng'/>
				<ComponentRef Id='HelpHoverPng'/>
				<ComponentRef Id='ListboxCss'/>
				<ComponentRef Id='LogoPng'/>
				<ComponentRef Id='MinusPng'/>
				<ComponentRef Id='MinusHoverPng'/>
				<ComponentRef Id='PlusPng'/>
				<ComponentRef Id='PlusHoverPng'/>
				<ComponentRef Id='WindowRefreshPng'/>
				<ComponentRef Id='RefreshHoverPng'/>
				<ComponentRef Id='SizeGripBlackPng'/>
				<ComponentRef Id='SizeGripWhitePng'/>
				<ComponentRef Id='WindowCss'/>

				<ComponentRef Id='ColorSchemes'/>
				<ComponentRef Id='FontSet'/>

				<ComponentRef Id='JavaGuavaJar'/>
				<ComponentRef Id='JavaJavaIndexerJar'/>
				<ComponentRef Id='JavaJavaparserJar'/>
				<ComponentRef Id='JavaJavaslangJar'/>
				<ComponentRef Id='JavaJavassistJar'/>
				<ComponentRef Id='JavaJavaSymbolSolverCoreJar'/>
				<ComponentRef Id='JavaJavaSymbolSolverLogicJar'/>
				<ComponentRef Id='JavaJavaSymbolSolverModelJar'/>

				<ComponentRef Id='UninstallBat'/>

				<!-- AppData Folder Stuff -->
				<ComponentRef Id='CoatiSoftwareAppDataDummy'/>

				<ComponentRef Id='WindowSettingsIni'/>
			<!-- </Feature> -->

			<!-- Sample Projects for AddData Folder -->
			<!-- <Feature Id='SampleCode' Title='Samples' Description='Tutorial and Sample Project' Level='1000'> -->
				<ComponentRef Id='SampleProjects'/>

				<ComponentRef Id='TictactoeCoatiproject'/>
				<ComponentRef Id='TictactoeCode'/>

				<ComponentRef Id='TutorialCoatiproject'/>
				<ComponentRef Id='TutorialCode'/>

				<ComponentRef Id='JavaparserCoatiproject'/>
				<ComponentRef Id='SampleProjectJavaparserSrcFolder'/>
				<ComponentRef Id='SampleProjectJavaparserSrcMainFolder'/>
				<ComponentRef Id='SampleProjectJavaparserSrcMainJavaFolder'/>
				<ComponentRef Id='SampleProjectJavaparserSrcMainJavaComFolder'/>
				<ComponentRef Id='SampleProjectJavaparserSrcMainJavaComGithubFolder'/>
				<ComponentRef Id='SampleProjectJavaparserSrcMainJavaComGithubJavaparserCode'/>
				<ComponentRef Id='SampleProjectJavaparserSrcMainJavaComGithubJavaparserAstCode'/>
				<ComponentRef Id='SampleProjectJavaparserSrcMainJavaComGithubJavaparserAstBodyCode'/>
				<ComponentRef Id='SampleProjectJavaparserSrcMainJavaComGithubJavaparserAstCommentsCode'/>
				<ComponentRef Id='SampleProjectJavaparserSrcMainJavaComGithubJavaparserAstExprCode'/>
				<ComponentRef Id='SampleProjectJavaparserSrcMainJavaComGithubJavaparserAstNodeTypesCode'/>
				<ComponentRef Id='SampleProjectJavaparserSrcMainJavaComGithubJavaparserAstStmtCode'/>
				<ComponentRef Id='SampleProjectJavaparserSrcMainJavaComGithubJavaparserAstTypeCode'/>
				<ComponentRef Id='SampleProjectJavaparserSrcMainJavaComGithubJavaparserAstVisitorCode'/>
				<ComponentRef Id='SampleProjectJavaparserSrcMainJavaComGithubJavaparserUtilsCode'/>
				<ComponentRef Id='SampleProjectJavaparserSrcMainJavaccCode'/>
				<ComponentRef Id='SampleProjectJavaparserTargetFolder'/>
				<ComponentRef Id='SampleProjectJavaparserTargetGeneratedSourcesFolder'/>
				<ComponentRef Id='SampleProjectJavaparserTargetGeneratedSourcesJavaccFolder'/>
				<ComponentRef Id='SampleProjectJavaparserTargetGeneratedSourcesJavaccComFolder'/>
				<ComponentRef Id='SampleProjectJavaparserTargetGeneratedSourcesJavaccComGithubFolder'/>
				<ComponentRef Id='SampleProjectJavaparserTargetGeneratedSourcesCode'/>
			</Feature>
		</Feature>

		<CustomAction Id='AlreadyUpdated' Error='[ProductName] is already up to date.' />
		<CustomAction Id='NoDowngrade' Error='A later version of [ProductName] is already installed' />

		<InstallExecuteSequence>
			<Custom Action='AlreadyUpdated' After='FindRelatedProducts'>SELFFOUND</Custom>
			<Custom Action='NoDowngrade' After='FindRelatedProducts'>NEWERFOUND</Custom>
			<Custom Action='UninstallRemoveLogFolder' After='UnpublishComponents'>(NOT UPGRADINGPRODUCTCODE) AND (REMOVE="ALL")</Custom>
		</InstallExecuteSequence>

		<!-- <UIRef Id="WixUI_InstallDir" /> -->

		<UI Id="MyWixUI_InstallDir">
			<UIRef Id="WixUI_InstallDir" />

			<DialogRef Id="ShortcutDlg" />

			<Publish Dialog="InstallDirDlg" Control="Next" Event="NewDialog" Value="ShortcutDlg" Order="4">WIXUI_DONTVALIDATEPATH OR WIXUI_INSTALLDIR_VALID="1"</Publish>
			<Publish Dialog="VerifyReadyDlg" Control="Back" Event="NewDialog" Value="ShortcutDlg">1</Publish>
		</UI>

		<Property Id="WIXUI_INSTALLDIR" Value="COMPANYDIR" />

		<UIRef Id="WixUI_ErrorProgressText" />

		<Icon Id="Coati.ico" SourceFile="./../../../bin/app/data/gui/icon/coati.ico" />
		<Icon Id="Project.ico" SourceFile="./../../../bin/app/data/gui/icon/project.ico" />

		<WixVariable Id="WixUILicenseRtf" Value="./../../../bin/app/data/gui/installer/EULA.rtf" />

		<WixVariable Id="WixUIBannerBmp" Value="Images/banner.bmp" />
		<WixVariable Id="WixUIDialogBmp" Value="Images/w_installer.bmp" />

		<!-- <WixVariable Id="var.Coati.projectVersion" Value="0.7.0" /> -->
	</Product>
</Wix>