<?xml version='1.0'?>
<Wix xmlns='http://schemas.microsoft.com/wix/2006/wi'>
	<Fragment>
		<CustomAction Id='UninstallRemoveLogFolder' BinaryKey='UninstallRemoveLogFolderBinary' DllEntry='Main' Execute='commit' Return='check'/>
		<Binary Id='UninstallRemoveLogFolderBinary' SourceFile='build/UninstallRemoveLogFolder.CA.dll'/>
	</Fragment>
</Wix>