<?xml version='1.0'?>
<Wix xmlns='http://schemas.microsoft.com/wix/2006/wi'>

	<?if $(sys.BUILDARCH) = x64 ?>
		<?define PlatformSourceFolder = "./../../../build/win64/Release/app" ?>
	<?else ?>
		<?define PlatformSourceFolder = "./../../../build/win32/Release/app" ?>
	<?endif ?>

	<Fragment>
		<DirectoryRef Id='INSTALLDIR'>

			<Component Id='MainExecutable' Guid='A6136907-B3C5-4393-88D7-2ACF63E138A8' Win64="$(var.Win64)">
				<File Id='SourcetrailEXE' Name='Sourcetrail.exe' DiskId='1' Source='$(var.PlatformSourceFolder)/Sourcetrail.exe' KeyPath='yes' />

				<!-- File association -->
				<RegistryValue Root="HKLM" Key="SOFTWARE\Classes\[ProductName].Document" Name="projectfile" Value="Sourcetrail project file" Type="string" />
				<ProgId Id='Sourcetrail.sourcetrailprojectfile' Description='Sourcetrail project file' Advertise='yes' Icon='Project.ico'>
					<Extension Id='srctrlprj'>  <!-- ContentType='application/sourcetrailproject' Advertise='no' -->
						<Verb Id='open' Command='Open' Argument='"%1"' />
						<MIME Advertise='yes' ContentType='application/sourcetrailproject' Default='yes' />
					</Extension>
					<Extension Id='coatiproject'>  <!-- ContentType='application/coatiproject' Advertise='no' -->
						<Verb Id='open' Command='Open' Argument='"%1"' />
						<MIME Advertise='yes' ContentType='application/coatiproject' Default='yes' />
					</Extension>
				</ProgId>
			</Component>

			<Component Id='SourcetrailIndexerExe' Guid='*' Win64="$(var.Win64)">
				<File Id='SourcetrailIndexer' Name='sourcetrail_indexer.exe' DiskId='1' Source='$(var.PlatformSourceFolder)/sourcetrail_indexer.exe' KeyPath='yes' />
			</Component>

			<Component Id='Qt5CoreDll' Guid='*' Win64="$(var.Win64)">
				<File Id='qt5coreDLL' Name='Qt5Core.dll' DiskId='1' Source='$(var.PlatformSourceFolder)/Qt5Core.dll' KeyPath='yes' />
			</Component>

			<Component Id='Qt5GuiDll' Guid='*' Win64="$(var.Win64)">
				<File Id='qt5guiDLL' Name='Qt5Gui.dll' DiskId='1' Source='$(var.PlatformSourceFolder)/Qt5Gui.dll' KeyPath='yes' />
			</Component>

			<Component Id='Qt5NetworkDll' Guid='*' Win64="$(var.Win64)">
				<File Id='qt5networkDLL' Name='Qt5Network.dll' DiskId='1' Source='$(var.PlatformSourceFolder)/Qt5Network.dll' KeyPath='yes' />
			</Component>

			<Component Id='Qt5SvgDll' Guid='*' Win64="$(var.Win64)">
				<File Id='qt5svgDll' Name='Qt5Svg.dll' DiskId='1' Source='$(var.PlatformSourceFolder)/Qt5Svg.dll' KeyPath='yes' />
			</Component>

			<Component Id='Qt5WidgetsDll' Guid='*' Win64="$(var.Win64)">
				<File Id='qt5widgetsDLL' Name='Qt5Widgets.dll' DiskId='1' Source='$(var.PlatformSourceFolder)/Qt5Widgets.dll' KeyPath='yes' />
			</Component>

			<Component Id='Qt5WinExtrasDll' Guid='*' Win64="$(var.Win64)">
				<File Id='qt5winExtrasDLL' Name='Qt5WinExtras.dll' DiskId='1' Source='$(var.PlatformSourceFolder)/Qt5WinExtras.dll' KeyPath='yes' />
			</Component>

			<Component Id='apiMsWinCoreConsole_l1_1_0Dll' Guid='*' Win64="$(var.Win64)">
				<File Id='apiMsWinCoreConsole_l1_1_0' Name='api-ms-win-core-console-l1-1-0.dll' DiskId='1' Source='$(var.PlatformSourceFolder)/api-ms-win-core-console-l1-1-0.dll' KeyPath='yes' />
			</Component>

			<Component Id='apiMsWinCoreDatetime_l1_1_0Dll' Guid='*' Win64="$(var.Win64)">
				<File Id='apiMsWinCoreDatetime_l1_1_0' Name='api-ms-win-core-datetime-l1-1-0.dll' DiskId='1' Source='$(var.PlatformSourceFolder)/api-ms-win-core-datetime-l1-1-0.dll' KeyPath='yes' />
			</Component>

			<Component Id='apiMsWinCoreDebug_l1_1_0Dll' Guid='*' Win64="$(var.Win64)">
				<File Id='apiMsWinCoreDebug_l1_1_0' Name='api-ms-win-core-debug-l1-1-0.dll' DiskId='1' Source='$(var.PlatformSourceFolder)/api-ms-win-core-debug-l1-1-0.dll' KeyPath='yes' />
			</Component>

			<Component Id='apiMsWinCoreErrorhandling_l1_1_0Dll' Guid='*' Win64="$(var.Win64)">
				<File Id='apiMsWinCoreErrorhandling_l1_1_0' Name='api-ms-win-core-errorhandling-l1-1-0.dll' DiskId='1' Source='$(var.PlatformSourceFolder)/api-ms-win-core-errorhandling-l1-1-0.dll' KeyPath='yes' />
			</Component>

			<Component Id='apiMsWinCoreFile_l1_1_0Dll' Guid='*' Win64="$(var.Win64)">
				<File Id='apiMsWinCoreFile_l1_1_0' Name='api-ms-win-core-file-l1-1-0.dll' DiskId='1' Source='$(var.PlatformSourceFolder)/api-ms-win-core-file-l1-1-0.dll' KeyPath='yes' />
			</Component>

			<Component Id='apiMsWinCoreFile_l1_2_0Dll' Guid='*' Win64="$(var.Win64)">
				<File Id='apiMsWinCoreFile_l1_2_0' Name='api-ms-win-core-file-l1-2-0.dll' DiskId='1' Source='$(var.PlatformSourceFolder)/api-ms-win-core-file-l1-2-0.dll' KeyPath='yes' />
			</Component>

			<Component Id='apiMsWinCoreFile_l2_1_0Dll' Guid='*' Win64="$(var.Win64)">
				<File Id='apiMsWinCoreFile_l2_1_0' Name='api-ms-win-core-file-l2-1-0.dll' DiskId='1' Source='$(var.PlatformSourceFolder)/api-ms-win-core-file-l2-1-0.dll' KeyPath='yes' />
			</Component>

			<Component Id='apiMsWinCoreHandle_l1_1_0Dll' Guid='*' Win64="$(var.Win64)">
				<File Id='apiMsWinCoreHandle_l1_1_0' Name='api-ms-win-core-handle-l1-1-0.dll' DiskId='1' Source='$(var.PlatformSourceFolder)/api-ms-win-core-handle-l1-1-0.dll' KeyPath='yes' />
			</Component>

			<Component Id='apiMsWinCoreHeap_l1_1_0Dll' Guid='*' Win64="$(var.Win64)">
				<File Id='apiMsWinCoreHeap_l1_1_0' Name='api-ms-win-core-heap-l1-1-0.dll' DiskId='1' Source='$(var.PlatformSourceFolder)/api-ms-win-core-heap-l1-1-0.dll' KeyPath='yes' />
			</Component>

			<Component Id='apiMsWinCoreInterlocked_l1_1_0Dll' Guid='*' Win64="$(var.Win64)">
				<File Id='apiMsWinCoreInterlocked_l1_1_0' Name='api-ms-win-core-interlocked-l1-1-0.dll' DiskId='1' Source='$(var.PlatformSourceFolder)/api-ms-win-core-interlocked-l1-1-0.dll' KeyPath='yes' />
			</Component>

			<Component Id='apiMsWinCoreLibraryloader_l1_1_0Dll' Guid='*' Win64="$(var.Win64)">
				<File Id='apiMsWinCoreLibraryloader_l1_1_0' Name='api-ms-win-core-libraryloader-l1-1-0.dll' DiskId='1' Source='$(var.PlatformSourceFolder)/api-ms-win-core-libraryloader-l1-1-0.dll' KeyPath='yes' />
			</Component>

			<Component Id='apiMsWinCoreLocalization_l1_2_0Dll' Guid='*' Win64="$(var.Win64)">
				<File Id='apiMsWinCoreLocalization_l1_2_0' Name='api-ms-win-core-localization-l1-2-0.dll' DiskId='1' Source='$(var.PlatformSourceFolder)/api-ms-win-core-localization-l1-2-0.dll' KeyPath='yes' />
			</Component>

			<Component Id='apiMsWinCoreMemory_l1_1_0Dll' Guid='*' Win64="$(var.Win64)">
				<File Id='apiMsWinCoreMemory_l1_1_0' Name='api-ms-win-core-memory-l1-1-0.dll' DiskId='1' Source='$(var.PlatformSourceFolder)/api-ms-win-core-memory-l1-1-0.dll' KeyPath='yes' />
			</Component>

			<Component Id='apiMsWinCoreNamedpipe_l1_1_0Dll' Guid='*' Win64="$(var.Win64)">
				<File Id='apiMsWinCoreNamedpipe_l1_1_0' Name='api-ms-win-core-namedpipe-l1-1-0.dll' DiskId='1' Source='$(var.PlatformSourceFolder)/api-ms-win-core-namedpipe-l1-1-0.dll' KeyPath='yes' />
			</Component>

			<Component Id='apiMsWinCoreProcessEnvironment_l1_1_0Dll' Guid='*' Win64="$(var.Win64)">
				<File Id='apiMsWinCoreProcessEnvironment_l1_1_0' Name='api-ms-win-core-processenvironment-l1-1-0.dll' DiskId='1' Source='$(var.PlatformSourceFolder)/api-ms-win-core-processenvironment-l1-1-0.dll' KeyPath='yes' />
			</Component>

			<Component Id='apiMsWinCoreProcessThreads_l1_1_0Dll' Guid='*' Win64="$(var.Win64)">
				<File Id='apiMsWinCoreProcessThreads_l1_1_0' Name='api-ms-win-core-processthreads-l1-1-0.dll' DiskId='1' Source='$(var.PlatformSourceFolder)/api-ms-win-core-processthreads-l1-1-0.dll' KeyPath='yes' />
			</Component>

			<Component Id='apiMsWinCoreProcessThreads_l1_1_1Dll' Guid='*' Win64="$(var.Win64)">
				<File Id='apiMsWinCoreProcessThreads_l1_1_1' Name='api-ms-win-core-processthreads-l1-1-1.dll' DiskId='1' Source='$(var.PlatformSourceFolder)/api-ms-win-core-processthreads-l1-1-1.dll' KeyPath='yes' />
			</Component>

			<Component Id='apiMsWinCoreProfile_l1_1_0Dll' Guid='*' Win64="$(var.Win64)">
				<File Id='apiMsWinCoreProfile_l1_1_0' Name='api-ms-win-core-profile-l1-1-0.dll' DiskId='1' Source='$(var.PlatformSourceFolder)/api-ms-win-core-profile-l1-1-0.dll' KeyPath='yes' />
			</Component>

			<Component Id='apiMsWinCoreRtlSupport_l1_1_0Dll' Guid='*' Win64="$(var.Win64)">
				<File Id='apiMsWinCoreRtlSupport_l1_1_0' Name='api-ms-win-core-rtlsupport-l1-1-0.dll' DiskId='1' Source='$(var.PlatformSourceFolder)/api-ms-win-core-rtlsupport-l1-1-0.dll' KeyPath='yes' />
			</Component>

			<Component Id='apiMsWinCoreString_l1_1_0Dll' Guid='*' Win64="$(var.Win64)">
				<File Id='apiMsWinCoreString_l1_1_0' Name='api-ms-win-core-string-l1-1-0.dll' DiskId='1' Source='$(var.PlatformSourceFolder)/api-ms-win-core-string-l1-1-0.dll' KeyPath='yes' />
			</Component>

			<Component Id='apiMsWinCoreSynch_l1_1_0Dll' Guid='*' Win64="$(var.Win64)">
				<File Id='apiMsWinCoreSynch_l1_1_0' Name='api-ms-win-core-synch-l1-1-0.dll' DiskId='1' Source='$(var.PlatformSourceFolder)/api-ms-win-core-synch-l1-1-0.dll' KeyPath='yes' />
			</Component>

			<Component Id='apiMsWinCoreSynch_l1_2_0Dll' Guid='*' Win64="$(var.Win64)">
				<File Id='apiMsWinCoreSynch_l1_2_0' Name='api-ms-win-core-synch-l1-2-0.dll' DiskId='1' Source='$(var.PlatformSourceFolder)/api-ms-win-core-synch-l1-2-0.dll' KeyPath='yes' />
			</Component>

			<Component Id='apiMsWinCoreSysInfo_l1_1_0Dll' Guid='*' Win64="$(var.Win64)">
				<File Id='apiMsWinCoreSysInfo_l1_1_0' Name='api-ms-win-core-sysinfo-l1-1-0.dll' DiskId='1' Source='$(var.PlatformSourceFolder)/api-ms-win-core-sysinfo-l1-1-0.dll' KeyPath='yes' />
			</Component>

			<Component Id='apiMsWinCoreTimezone_l1_1_0Dll' Guid='*' Win64="$(var.Win64)">
				<File Id='apiMsWinCoreTimezone_l1_1_0' Name='api-ms-win-core-timezone-l1-1-0.dll' DiskId='1' Source='$(var.PlatformSourceFolder)/api-ms-win-core-timezone-l1-1-0.dll' KeyPath='yes' />
			</Component>

			<Component Id='apiMsWinCoreUtil_l1_1_0Dll' Guid='*' Win64="$(var.Win64)">
				<File Id='apiMsWinCoreUtil_l1_1_0' Name='api-ms-win-core-util-l1-1-0.dll' DiskId='1' Source='$(var.PlatformSourceFolder)/api-ms-win-core-util-l1-1-0.dll' KeyPath='yes' />
			</Component>

			<Component Id='apiMsWinCrtConio_l1_1_0Dll' Guid='*' Win64="$(var.Win64)">
				<File Id='apiMsWinCrtConio_l1_1_0' Name='api-ms-win-crt-conio-l1-1-0.dll' DiskId='1' Source='$(var.PlatformSourceFolder)/api-ms-win-crt-conio-l1-1-0.dll' KeyPath='yes' />
			</Component>

			<Component Id='apiMsWinCrtConvert_l1_1_0Dll' Guid='*' Win64="$(var.Win64)">
				<File Id='apiMsWinCrtConvert_l1_1_0' Name='api-ms-win-crt-convert-l1-1-0.dll' DiskId='1' Source='$(var.PlatformSourceFolder)/api-ms-win-crt-convert-l1-1-0.dll' KeyPath='yes' />
			</Component>

			<Component Id='apiMsWinCrtEnvironment_l1_1_0Dll' Guid='*' Win64="$(var.Win64)">
				<File Id='apiMsWinCrtEnvironment_l1_1_0' Name='api-ms-win-crt-environment-l1-1-0.dll' DiskId='1' Source='$(var.PlatformSourceFolder)/api-ms-win-crt-environment-l1-1-0.dll' KeyPath='yes' />
			</Component>

			<Component Id='apiMsWinCrtFilesystem_l1_1_0Dll' Guid='*' Win64="$(var.Win64)">
				<File Id='apiMsWinCrtFilesystem_l1_1_0' Name='api-ms-win-crt-filesystem-l1-1-0.dll' DiskId='1' Source='$(var.PlatformSourceFolder)/api-ms-win-crt-filesystem-l1-1-0.dll' KeyPath='yes' />
			</Component>

			<Component Id='apiMsWinCrtHeap_l1_1_0Dll' Guid='*' Win64="$(var.Win64)">
				<File Id='apiMsWinCrtHeap_l1_1_0' Name='api-ms-win-crt-heap-l1-1-0.dll' DiskId='1' Source='$(var.PlatformSourceFolder)/api-ms-win-crt-heap-l1-1-0.dll' KeyPath='yes' />
			</Component>

			<Component Id='apiMsWinCrtLocale_l1_1_0Dll' Guid='*' Win64="$(var.Win64)">
				<File Id='apiMsWinCrtLocale_l1_1_0' Name='api-ms-win-crt-locale-l1-1-0.dll' DiskId='1' Source='$(var.PlatformSourceFolder)/api-ms-win-crt-locale-l1-1-0.dll' KeyPath='yes' />
			</Component>

			<Component Id='apiMsWinCrtMath_l1_1_0Dll' Guid='*' Win64="$(var.Win64)">
				<File Id='apiMsWinCrtMath_l1_1_0' Name='api-ms-win-crt-math-l1-1-0.dll' DiskId='1' Source='$(var.PlatformSourceFolder)/api-ms-win-crt-math-l1-1-0.dll' KeyPath='yes' />
			</Component>

			<Component Id='apiMsWinCrtMultibyte_l1_1_0Dll' Guid='*' Win64="$(var.Win64)">
				<File Id='apiMsWinCrtMultibyte_l1_1_0' Name='api-ms-win-crt-multibyte-l1-1-0.dll' DiskId='1' Source='$(var.PlatformSourceFolder)/api-ms-win-crt-multibyte-l1-1-0.dll' KeyPath='yes' />
			</Component>

			<Component Id='apiMsWinCrtPrivate_l1_1_0Dll' Guid='*' Win64="$(var.Win64)">
				<File Id='apiMsWinCrtPrivate_l1_1_0' Name='api-ms-win-crt-private-l1-1-0.dll' DiskId='1' Source='$(var.PlatformSourceFolder)/api-ms-win-crt-private-l1-1-0.dll' KeyPath='yes' />
			</Component>

			<Component Id='apiMsWinCrtProcess_l1_1_0Dll' Guid='*' Win64="$(var.Win64)">
				<File Id='apiMsWinCrtProcess_l1_1_0' Name='api-ms-win-crt-process-l1-1-0.dll' DiskId='1' Source='$(var.PlatformSourceFolder)/api-ms-win-crt-process-l1-1-0.dll' KeyPath='yes' />
			</Component>

			<Component Id='apiMsWinCrtRuntime_l1_1_0Dll' Guid='*' Win64="$(var.Win64)">
				<File Id='apiMsWinCrtRuntime_l1_1_0' Name='api-ms-win-crt-runtime-l1-1-0.dll' DiskId='1' Source='$(var.PlatformSourceFolder)/api-ms-win-crt-runtime-l1-1-0.dll' KeyPath='yes' />
			</Component>

			<Component Id='apiMsWinCrtStdio_l1_1_0Dll' Guid='*' Win64="$(var.Win64)">
				<File Id='apiMsWinCrtStdio_l1_1_0' Name='api-ms-win-crt-stdio-l1-1-0.dll' DiskId='1' Source='$(var.PlatformSourceFolder)/api-ms-win-crt-stdio-l1-1-0.dll' KeyPath='yes' />
			</Component>

			<Component Id='apiMsWinCrtString_l1_1_0Dll' Guid='*' Win64="$(var.Win64)">
				<File Id='apiMsWinCrtString_l1_1_0' Name='api-ms-win-crt-string-l1-1-0.dll' DiskId='1' Source='$(var.PlatformSourceFolder)/api-ms-win-crt-string-l1-1-0.dll' KeyPath='yes' />
			</Component>

			<Component Id='apiMsWinCrtTime_l1_1_0Dll' Guid='*' Win64="$(var.Win64)">
				<File Id='apiMsWinCrtTime_l1_1_0' Name='api-ms-win-crt-time-l1-1-0.dll' DiskId='1' Source='$(var.PlatformSourceFolder)/api-ms-win-crt-time-l1-1-0.dll' KeyPath='yes' />
			</Component>

			<Component Id='apiMsWinCrtUtility_l1_1_0Dll' Guid='*' Win64="$(var.Win64)">
				<File Id='apiMsWinCrtUtility_l1_1_0' Name='api-ms-win-crt-utility-l1-1-0.dll' DiskId='1' Source='$(var.PlatformSourceFolder)/api-ms-win-crt-utility-l1-1-0.dll' KeyPath='yes' />
			</Component>

			<Component Id='libeay32_dll' Guid='*' Win64="$(var.Win64)">
				<File Id='libeay32' Name='libeay32.dll' DiskId='1' Source='$(var.PlatformSourceFolder)/libeay32.dll' KeyPath='yes' />
			</Component>

			<?if $(var.Win64) = "no" ?>
				<Component Id='libgcc_s_dw2_1_dll' Guid='*' Win64="$(var.Win64)">
					<File Id='libgcc_s_dw2_1' Name='libgcc_s_dw2-1.dll' DiskId='1' Source='$(var.PlatformSourceFolder)/libgcc_s_dw2-1.dll' KeyPath='yes' />
				</Component>
			<?endif ?>

			<?if $(var.Win64) = "no" ?>
				<Component Id='libwinpthread_1_dll' Guid='*' Win64="$(var.Win64)">
					<File Id='libwinpthread_1' Name='libwinpthread-1.dll' DiskId='1' Source='$(var.PlatformSourceFolder)/libwinpthread-1.dll' KeyPath='yes' />
				</Component>
			<?endif ?>

			<Component Id='msvcp140_dll' Guid='*' Win64="$(var.Win64)">
				<File Id='msvcp140' Name='msvcp140.dll' DiskId='1' Source='$(var.PlatformSourceFolder)/msvcp140.dll' KeyPath='yes' />
			</Component>

			<Component Id='qtConf' Guid='*' Win64="$(var.Win64)">
				<File Id='qt' Name='qt.conf' DiskId='1' Source='$(var.PlatformSourceFolder)/qt.conf' KeyPath='yes' />
			</Component>

			<Component Id='ssleay32_dll' Guid='*' Win64="$(var.Win64)">
				<File Id='ssleay32' Name='ssleay32.dll' DiskId='1' Source='$(var.PlatformSourceFolder)/ssleay32.dll' KeyPath='yes' />
			</Component>

			<Component Id='ucrtbaseDll' Guid='*' Win64="$(var.Win64)">
				<File Id='ucrtbase' Name='ucrtbase.dll' DiskId='1' Source='$(var.PlatformSourceFolder)/ucrtbase.dll' KeyPath='yes' />
			</Component>

			<Component Id='vcruntime140_dll' Guid='*' Win64="$(var.Win64)">
				<File Id='vcruntime140' Name='vcruntime140.dll' DiskId='1' Source='$(var.PlatformSourceFolder)/vcruntime140.dll' KeyPath='yes' />
			</Component>

			<Directory Id='Platforms' Name='platforms'>
				<Component Id='QWindowsDll' Guid='*' Win64="$(var.Win64)">
					<File Id='qwindowsDLL' Name='qwindows.dll' DiskId='1' Source='$(var.PlatformSourceFolder)/platforms/qwindows.dll' KeyPath='yes' />
				</Component>
			</Directory>

			<Directory Id='Imageformats' Name='imageformats'>
				<Component Id='QGifDll' Guid='*' Win64="$(var.Win64)">
					<File Id='QGif' Name='qgif.dll' DiskId='1' Source='$(var.PlatformSourceFolder)/imageformats/qgif.dll' KeyPath='yes' />
				</Component>
				<Component Id='QIcnsDll' Guid='*' Win64="$(var.Win64)">
					<File Id='QIcns' Name='qicns.dll' DiskId='1' Source='$(var.PlatformSourceFolder)/imageformats/qicns.dll' KeyPath='yes' />
				</Component>
				<Component Id='QIcoDll' Guid='*' Win64="$(var.Win64)">
					<File Id='QIco' Name='qico.dll' DiskId='1' Source='$(var.PlatformSourceFolder)/imageformats/qico.dll' KeyPath='yes' />
				</Component>
				<Component Id='QJpegDll' Guid='*' Win64="$(var.Win64)">
					<File Id='QJpeg' Name='qjpeg.dll' DiskId='1' Source='$(var.PlatformSourceFolder)/imageformats/qjpeg.dll' KeyPath='yes' />
				</Component>
				<Component Id='QSvgDll' Guid='*' Win64="$(var.Win64)">
					<File Id='QSvg' Name='qsvg.dll' DiskId='1' Source='$(var.PlatformSourceFolder)/imageformats/qsvg.dll' KeyPath='yes' />
				</Component>
				<Component Id='GTgaDll' Guid='*' Win64="$(var.Win64)">
					<File Id='GTga' Name='qtga.dll' DiskId='1' Source='$(var.PlatformSourceFolder)/imageformats/qtga.dll' KeyPath='yes' />
				</Component>
				<Component Id='QTiffDll' Guid='*' Win64="$(var.Win64)">
					<File Id='QTiff' Name='qtiff.dll' DiskId='1' Source='$(var.PlatformSourceFolder)/imageformats/qtiff.dll' KeyPath='yes' />
				</Component>
				<Component Id='QWBmpDll' Guid='*' Win64="$(var.Win64)">
					<File Id='QWBmp' Name='qwbmp.dll' DiskId='1' Source='$(var.PlatformSourceFolder)/imageformats/qwbmp.dll' KeyPath='yes' />
				</Component>
				<Component Id='QWebpDll' Guid='*' Win64="$(var.Win64)">
					<File Id='QWebp' Name='qwebp.dll' DiskId='1' Source='$(var.PlatformSourceFolder)/imageformats/qwebp.dll' KeyPath='yes' />
				</Component>
			</Directory>

			<Directory Id='License' Name='license'>
				<Component Id='EulaRtf' Guid='*' Win64="$(var.Win64)">
					<File Id='EulaRtfId' Name='EULA.rtf' DiskId='1' Source='./../../../bin/app/data/license/EULA.rtf' KeyPath='yes' />
				</Component>
				<Directory Id='ThirdPartyLicenses' Name='3rd_party_licenses'>
					<Component Id='LicenseBoostTxt' Guid='*' Win64="$(var.Win64)">
						<File Id='LicenseBoost' Name='license_boost.txt' DiskId='1' Source='./../../../bin/app/data/license/3rd_party_licenses/license_boost.txt' KeyPath='yes' />
					</Component>
					<Component Id='LicenseBotanTxt' Guid='*' Win64="$(var.Win64)">
						<File Id='LicenseBotan' Name='license_botan.txt' DiskId='1' Source='./../../../bin/app/data/license/3rd_party_licenses/license_botan.txt' KeyPath='yes' />
					</Component>
					<Component Id='LicenseClangTxt' Guid='*' Win64="$(var.Win64)">
						<File Id='LicenseClang' Name='license_clang.txt' DiskId='1' Source='./../../../bin/app/data/license/3rd_party_licenses/license_clang.txt' KeyPath='yes' />
					</Component>
					<Component Id='LicenseCppSqliteTxt' Guid='*' Win64="$(var.Win64)">
						<File Id='LicenseCppSqlite' Name='license_cpp_sqlite.txt' DiskId='1' Source='./../../../bin/app/data/license/3rd_party_licenses/license_cpp_sqlite.txt' KeyPath='yes' />
					</Component>
					<Component Id='LicenseEclipseTxt' Guid='*' Win64="$(var.Win64)">
						<File Id='LicenseEclipse' Name='license_eclipse.txt' DiskId='1' Source='./../../../bin/app/data/license/3rd_party_licenses/license_eclipse.txt' KeyPath='yes' />
					</Component>
					<Component Id='LicenseGradleTxt' Guid='*' Win64="$(var.Win64)">
						<File Id='LicenseGradle' Name='license_gradle.txt' DiskId='1' Source='./../../../bin/app/data/license/3rd_party_licenses/license_gradle.txt' KeyPath='yes' />
					</Component>
					<Component Id='LicenseOpensslTxt' Guid='*' Win64="$(var.Win64)">
						<File Id='LicenseOpenssl' Name='license_openssl.txt' DiskId='1' Source='./../../../bin/app/data/license/3rd_party_licenses/license_openssl.txt' KeyPath='yes' />
					</Component>
					<Component Id='LicenseQtTxt' Guid='*' Win64="$(var.Win64)">
						<File Id='LicenseQt' Name='license_qt.txt' DiskId='1' Source='./../../../bin/app/data/license/3rd_party_licenses/license_qt.txt' KeyPath='yes' />
					</Component>
					<Component Id='LicenseTinyxmlTxt' Guid='*' Win64="$(var.Win64)">
						<File Id='LicenseTinyxml' Name='license_tinyxml.txt' DiskId='1' Source='./../../../bin/app/data/license/3rd_party_licenses/license_tinyxml.txt' KeyPath='yes' />
					</Component>
				</Directory>
			</Directory>

			<Directory Id='LieutenantCommanderData' Name='data'>
			</Directory>

<?if $(sys.BUILDARCH) = x64 ?>
			<Component Id='UninstallBat' Guid='*' Win64="$(var.Win64)">
				<File Id='Uninstall' Name='uninstall.bat' DiskId='1' Source='./../../../bin/app/data/install/uninstall_wix_win64.bat' KeyPath='yes' />
			</Component>
<?else ?>
			<Component Id='UninstallBat' Guid='*' Win64="$(var.Win64)">
				<File Id='Uninstall' Name='uninstall.bat' DiskId='1' Source='./../../../bin/app/data/install/uninstall_wix_win32.bat' KeyPath='yes' />
			</Component>
<?endif ?>


		</DirectoryRef>
	</Fragment>
</Wix>
