QTableView {
	color: <color:error/text/normal>;
	background-color: <color:error/table_line_1/normal>;
	alternate-background-color: <color:error/table_line_2/normal>;
	border-radius: 10px;
	border: 1px solid <color:error/table>;
	margin: 10px;
	padding-right: 10px;
	font-size: <setting:font_size>px;
}

QFrame {
	background-color: <color:error/background>;
}

QTableView::item {
	border-left: 1px solid <color:error/table>;
}

QTableView::item:selected {
	color: <color:error/text/active>;
	background-color: <color:error/table_line_1/active>;
	alternate-background-color: <color:error/table_line_2/active>;
}

QHeaderView {
	background-color: transparent;
}

QHeaderView::section:horizontal {
	background-color: transparent;
	border: none;
	border-bottom: 1px solid <color:error/table>;
	border-left: 1px solid <color:error/table>;
	color: <color:error/text/normal>;
	font-size: <setting:font_size>px;
	font-weight: bold;
	padding: 1px 6px;
	height: <setting:font_size+5>px;;
}


QCheckBox {
	color: <color:error/text/normal>;
	border-color: <color:error/table>;
	/*background-color: <color:error/table>;*/
}

QHeaderView::section:vertical {
	background-color: transparent;
	border: none;
	color: <color:error/text/normal>;
	font-size: <setting:font_size>px;
	padding-right: 5px;
	padding-left: 5px;
}

QScrollBar:vertical {
}

QScrollBar::handle:vertical {
	min-height: 20px;
}

QScrollBar::add-line:vertical {
	height: 20px;
	subcontrol-position: bottom;
	subcontrol-origin: margin;
}

QScrollBar::sub-line:vertical {
	height: 20px;
	subcontrol-position: top;
	subcontrol-origin: margin;
}
QScrollBar::up-arrow:vertical, QScrollBar::down-arrow:vertical {
	width: 3px;
	height: 3px;
	background: white;
}

QScrollBar::add-page:vertical, QScrollBar::sub-page:vertical {
	background: none;
}

QTableView QTableCornerButton::section {
	background-color: <color:error/background>;
	border-bottom: 1px solid <color:error/table>;
	border-top-left-radius: 10px;
}
