/* Bookmark browser header */

#header_background {
	background-color: #2E3C86;
}

#title {
	color: white;
	font-size: 18px;
	font-weight: bold;
}

#filter_label, #order_label {
	color: white;
	font-size: 16px;
	font-weight: bold;
	margin-bottom: 5px;
}

#filter_box, #order_box {
	/*margin-left: 20px;*/
}

/* Bookmark browser body */

#bookmark_tree {
	border: none;
	border-top: 1px solid #DFDFDF;
	border-bottom: 1px solid #DFDFDF;
	margin: 0px;
	min-width: 500px;
	min-height: 200px;
	background-color: white;
}

/* Bookmark category */

#bookmark_category {
	background: #DADADA;
	border-bottom: 1px solid white;
	padding: 4px 10px 3px 5px;
}

#bookmark_category:hover {
	background: #DEDEDE;
}

#category_name {
	color: black;
	font-size: 12px;
	margin-left: 1px;
}

#category_expand_button, #category_delete_button, #comment_button, #edit_button, #delete_button {
	border: none;
	background: transparent;
	width: 20px;
	height: 20px;
}

#edit_button {
	margin-right: 3px;
}

/* Bookmark */

#bookmark {
	padding: 3px 10px 3px 3px;
	margin: 0;
	background: white;
	border-bottom: 1px solid #DFDFDF;
}

#bookmark_comment {
	font-size: 12px;
	padding: 3px 6px 3px 7px;
	margin: 0;
	color: #707070;
}

#activate_button {
	background: white;
	border: 2px solid white;
	border-radius: 8px;
	color: black;
	font-size: 12px;
	padding: 4px 8px 3px;
	text-align: right;
}

#activate_button:hover {
	border-color: #2D3C86;
}

#activate_button:pressed {
	background: #CDD4F7;
}

#date_label {
	margin: 1px 5px 0px;
	font-size: 12px;
	color: #707070;
}

/* Search bar buttons */

#bookmark_button, #show_bookmark_button {
	background: <color:search/button/normal>;
	border: none;
	height: 30px;
	width: 30px;
}

#bookmark_button:disabled, #show_bookmark_button:disabled {
	background: <color:search/button/disabled>;
}

#bookmark_button:hover, #show_bookmark_button:hover {
	background: <color:search/button/hover>;
}

#bookmark_button:pressed, #show_bookmark_button:pressed {
	background: <color:search/button/press>;
}

#bookmark_button {
	border-bottom-left-radius: 12px;
	border-top-left-radius: 12px;
	margin: 0px;
	margin-right: 2px;
}

#show_bookmark_button {
	border-bottom-right-radius: 12px;
	border-top-right-radius: 12px;
	margin: 0px;
}

/* Bookmark creator */
#creator_title_label {
	font-size: 18px;
	font-weight: bold;
	color: white;
	background-color: #2E3C86;
	padding: 23px 20px 20px 20px;
}

#creator_label {
	font-size: 14px;
	font-weight: bold;
}

#creator_name_edit, #creator_comment_box {
	border: 1px;
	border-style: solid;
	border-color: #dadada;
	background: white;
	border-radius: 12px;
	min-height: 30px;
	padding: 3px;
	padding-left: 5px;
}

#creator_comment_box {
	min-height: 160px;
}
