#code_file #title_label {
	background-color: rgb(220,220,220);
	border-top-right-radius: 10px;
	font-family: "Source Code Pro";
	font-size: 14px;
	padding: 4px 12px;
}

#code_file #title_label:hover {
	background: #D2D2D2;
}

#code_file #title_label:disabled {
	color: black;
}

#code_file #code_snippet #title_label {
	background-color: rgb(220,220,220);
	font-family: "Source Code Pro";
	border-top-right-radius: 10px;
	font-size: 14px;
	text-align: left;
	padding: 4px 12px;
}

#code_area {
	font-family: "Source Code Pro";
	font-size: 14px;
	margin-bottom: 2px;
	background-color: transparent;
}

#code_area #line_number_area {
	background-color: white;
	font-family: "Source Code Pro";
	font-size: 14px;
}

#code_file #maximize_button {
	background-color: lightgray;
	border-image: none;
	border-radius: 8px;
	margin: 1px;
	max-height: 16px;
	max-width: 16px;
}

#code_file #maximize_button:enabled {
	border-image: url(data/gui/code_view/images/button_maximize.png);
}

#code_area #maximize_button {
	background-color: none;
	border-image: none;
	margin: 5px;
}

#code_area #maximize_button:enabled {
	border-image: url(data/gui/code_view/images/button_maximize.png);
}

QToolTip {
	background-color: rgb(204, 204, 204);
	border: 1px solid rgb(0, 0, 0);
	color: rgb(0, 0, 0);
}
