#code_file_list_base, #code_file_list {
	background-color: <color:code/background>;
}

* {
	font-size: <setting:font_size>pt;
}

#code_file {
	background-color: <color:code/snippet/background>;
	border: 2px solid <color:code/file/background>;
	border-radius: 14px;
}

#code_file #title_widget {
	background-color: <color:code/file/background>;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	padding-right: 5px;
}

#code_file #title_label {
	background-color: <color:code/file/title/normal>;
	border: none;
	border-radius: 3px;
	color: <color:code/file/title/text>;
	padding: 2px 4px;
	margin: 1px 8px 3px;
}

#code_file #title_label:hover {
	background-color: <color:code/file/title/hover>;
}

#code_file #title_label:pressed {
	background-color: <color:code/file/title/press>;
}

#code_file #references_label {
	background-color: <color:code/file/ref_count/background>;
	border: none;
	border-radius: 10px;
	color: <color:code/file/ref_count/text>;
	font-size: <setting:font_size-2>pt;
	padding: 0px 3px;
	margin: 4px 0px 4px;
}

#code_file #code_snippet {
	background-color: <color:code/snippet/background>;
	border-top: 2px solid <color:code/file/background>;
}

#code_file #code_snippet * {
	font-family: "<setting:font_name>";
}

#code_file #code_snippet[isFirst=true] {
	border: none;
	padding-top: 0px;
}

#code_file #code_snippet[isLast=true] {
	border-bottom-left-radius: 12px;
	border-bottom-right-radius: 12px;
}

#code_file #code_snippet #scope_name, #code_file #code_snippet #dots {
	background-color: <color:code/snippet/title/background>;
	color: <color:code/snippet/title/text>;
	border: none;
}

#code_file #code_snippet #scope_name:hover {
	background-color: <color:code/snippet/title/hover>;
}

#code_file #code_snippet #dots {
	background-color: <color:code/snippet/line_number/background>;
	padding-right: 13px;
	text-align: right;
}

#code_file #code_snippet #scope_name {
	padding-left: 4px;
	text-align: left;
}

#code_file #code_snippet #line_number_area {
	background-color: <color:code/snippet/line_number/background>;
	border: none;
	color: <color:code/snippet/line_number/text>;
}

#code_file #code_snippet[isLast=true] #line_number_area {
	border-bottom-left-radius: 12px;
}

#code_area {
	background-color: transparent;
	color: <color:code/snippet/syntax/normal>;
}

#code_file #maximize_button, #code_file #snippet_button, #code_file #minimize_button {
	margin: 3px;
	max-height: 16px;
	max-width: 16px;
}

#code_file #maximize_button {
	border-image: url(data/gui/code_view/images/maximize_inactive.png);
}

#code_file #maximize_button:enabled {
	border-image: url(data/gui/code_view/images/maximize_active.png);
}

#code_file #snippet_button {
	border-image: url(data/gui/code_view/images/snippet_inactive.png);
}

#code_file #snippet_button:enabled {
	border-image: url(data/gui/code_view/images/snippet_active.png);
}

#code_file #minimize_button {
	border-image: url(data/gui/code_view/images/minimize_inactive.png);
}

#code_file #minimize_button:enabled {
	border-image: url(data/gui/code_view/images/minimize_active.png);
}
