#code_container, #code_file_list {
	background-color: <color:code/background>;
}

#code_file_single {
	background-color: <color:code/snippet/background>;
}

#code_navigation {
	background-color: <color:code/navigation/background>;
}

#code_container, #code_file_list {
	border: none;
}

#separator_gap {
	background-color: <color:code/navigation/background>;
	border: none;
}

#separator_line {
	background-color: <color:code/navigation/line>;
	border: none;
}

#focus_indicator {
	background: <color:code/navigation/background>;
}

#focus_indicator[focused=true] {
	background: <color:window/focus>;
}

#code_navigation QLabel {
	color: <color:code/file/title/text>;
	font-size: <setting:font_size>px;
}

#code_navigation QPushButton {
	background: <color:search/button/normal>;
	border: none;
	color: <color:search/button/icon>;
	height: 24px;
	width: 24px;
}

#code_navigation QPushButton:hover, #code_navigation QPushButton:checked {
	background: <color:search/button/hover>;
}

#code_navigation QPushButton:disabled {
	background: <color:search/button/disabled>;
}

#code_navigation QPushButton:pressed {
	background: <color:search/button/press>;
}

#code_navigation #reference_button_previous {
	/*width: 20px;*/
	padding-bottom: 2px;

	border-bottom-left-radius: 11px;
	border-top-left-radius: 11px;
}

#code_navigation #reference_button_next {
	/*width: 20px;*/
	padding-top: 3px;

	border-bottom-right-radius: 11px;
	border-top-right-radius: 11px;
}

#code_navigation #file_button_previous, #code_navigation #file_button_next {
	width: 22px;
}

#code_navigation #file_button_previous, #code_navigation #local_reference_button_previous {
	border-bottom-left-radius: 11px;
	border-top-left-radius: 11px;
}

#code_navigation #local_reference_button_previous {
	padding-bottom: 2px;
}

#code_navigation #local_reference_button_next {
	padding-top: 3px;
}

#code_navigation #file_button_next, #code_navigation #local_reference_button_next {
	border-bottom-right-radius: 11px;
	border-top-right-radius: 11px;
}

#code_navigation #references_label {
	border: none;
	border-radius: 10px;
	color: <color:code/navigation/text>;
	font-size: <setting:font_size>px;
	padding: 0px 3px;
	margin: 4px 6px 4px 6px;
}

#code_navigation #mode_button_list {
	padding-left: 2px;
}

#code_navigation #mode_button_single {
	padding-right: 2px;
}

#code_navigation #mode_button_list {
	border-bottom-left-radius: 11px;
	border-top-left-radius: 11px;
}

#code_navigation #mode_button_single {
	border-bottom-right-radius: 11px;
	border-top-right-radius: 11px;
}

#code_file {
	background-color: <color:code/snippet/background>;
	margin-bottom: 0px;
	border: none;
	font-size: <setting:font_size>px;
}

#code_file[last=true] {
	border-bottom: 1px solid <color:code/file/background>;
}

#title_bar, #title_bar_single {
	background-color: <color:code/file/background>;
	font-size: <setting:font_size>px;
	border: none;
}

#title_bar[hovering=false] {
	border-top: 1px solid <color:code/navigation/line>;
}

#title_bar[focused=true] {
	border-left: 4px solid <color:window/focus>;
}

#title_bar_single {
	background-color: <color:code/file/background>;
	padding-right: 5px;
}

#title_bar #screen_button, #title_bar_single #screen_button {
	margin-right: 7px;
}

#title_button {
	background-color: transparent;
	border: none;
	border-radius: 3px;
	color: <color:code/file/title/text>;
	font-size: <setting:font_size>px;
	padding: 2px 4px;
	margin: 1px 8px 1px 2px;
}

#title_bar_single #title_button {
	margin: 3px 8px;
}

#title_button:hover {
	background-color: <color:code/file/title/hover>;
}

#title_button:pressed {
	background-color: <color:code/file/title/press>;
}

#title_button[nonindexed=true] {
	border: 1px solid <color:code/file/title/border>;
}

#references_label {
	background-color: <color:code/file/ref_count/background>;
	border: none;
	border-radius: 10px;
	color: <color:code/file/ref_count/text>;
	font-size: <setting:font_size-2>px;
	padding: 0px 3px;
	margin: 4px 6px 4px 0px;
}

#code_file #code_snippet {
	background-color: <color:code/snippet/background>;
	border-top: 1px solid <color:code/file/background>;
	font-size: <setting:font_size>px;
}

#code_file #code_snippet[first=true] {
	border: none;
}

#code_file #code_snippet #scope_name, #code_file #code_snippet #dots {
	background-color: <color:code/snippet/title/background>;
	border: none;
	color: <color:code/snippet/title/text>;
	font-family: "<setting:font_name>";
	font-size: <setting:font_size>px;
	padding-bottom: 2px;
}

#code_file #code_snippet #scope_name[focused=true] {
	color: <color:code/snippet/syntax/text>;
}

#code_file #code_snippet #dots {
	background-color: <color:code/snippet/line_number/background>;
	border-right: 3px solid transparent;
	margin-right: 5px;
	padding-right: 8px;
	text-align: right;
}

#code_file #code_snippet #dots[focused=true] {
	border-right: 3px solid <color:window/focus>;
}

#code_file #code_snippet #scope_name {
	padding-left: 4px;
	text-align: left;
}

#code_file #code_snippet #scope_name[focused=true] {
	padding-left: 4px;
	text-align: left;
}

#line_number_area {
	background-color: <color:code/snippet/line_number/background>;
	border: none;
	color: <color:code/snippet/line_number/text>;
	font-family: "<setting:font_name>";
	font-size: <setting:font_size>px;
}

#code_area {
	background-color: <color:code/snippet/background>;
	color: <color:code/snippet/syntax/text>;
	selection-color: <color:code/snippet/selection/text>;
	selection-background-color: <color:code/snippet/selection/background>;
}

#title_bar #expand_button, #title_bar_single #expand_button {
	background: transparent;
	border: none;
	margin: 3px;
	max-height: 16px;
	max-width: 16px;
	margin-left: 8px;
	margin-right: 0px;
}

#title_bar #file_button, #title_bar_single #file_button {
	background: transparent;
	border: none;
	margin: 3px;
	max-height: 16px;
	max-width: 16px;
}

#title_bar #file_button:enabled, #title_bar_single #file_button:enabled {
	border-image: url(<setting:gui_path>code_view/images/button_background.png);
}

#last_scroll_bar {
	background-color: <color:code/snippet/background>;
}
