#refresh_bar {
	background: transparent;
}

QPushButton {
	background: <color:search/button/normal>;
	border: none;
	height: 30px;
	width: 30px;
}

QPushButton:hover, QPushButton:checked {
	background: <color:search/button/hover>;
}

QPushButton:disabled {
	background: <color:search/button/disabled>;
}

QPushButton:pressed {
	background: <color:search/button/press>;
}

#refresh_button {
	/*border-bottom-left-radius: 12px;*/
	/*border-top-left-radius: 12px;*/
	border-radius: 12px;
}
