[Desktop Entry]
Name=Coati
GenericName=Coati
X-GNOME-FullName=Coati
Comment=Code Explorer
Exec=/usr/bin/coati
Icon=coati
Terminal=true
Type=Application
MimeType=application/x-coati;
StartupNotify=true
