QToolTip {
	background-color: #E0E0E0;
	color: black;
}

QPushButton {
	outline: none;
}

QMainWindow::separator {
	background: <color:window/separator>;
	width: 1px;
}

QToolBar {
	border: none;
}

QDockWidget {
	color: <color:window/dock/text>;
	font-size: 10pt;
	titlebar-close-icon: url(<setting:gui_path>main/images/close_<color:window/dock/icon_type>.png);
	titlebar-normal-icon: url(<setting:gui_path>main/images/float_<color:window/dock/icon_type>.png);
}

QDockWidget::title {
	border-bottom: 1px solid <color:window/dock/line>;
	background: <color:window/dock/background>;
	text-align: center;
	padding-top: 1px;
}

QDockWidget::close-button, QDockWidget::float-button {
	background: transparent;
	border: <platform_wml:0|0|1>px solid transparent;
	icon-size: 12px;
	margin-top: <platform_wml:0|2|2>px;
}

QDockWidget::close-button {
	margin-left: <platform_wml:0|2|0>px;
}

QDockWidget::float-button {
	margin-right: <platform_wml:0|2|0>px;
}

#screen_button {
	background-color: <color:window/button/background>;
	border: 1px solid <color:window/button/border>;
	border-radius: 5px;
	color: <color:window/button/text>;
	font-size: <setting:font_size>px;
	padding: 4px 6px;
	margin: 2px 0px;
}

#screen_button:hover {
	border: 1px solid <color:window/button/border_hover>;
}
