QTabWidget::pane {
	background-color: <color:tab/background>;
	border-top: <setting:font_size+15>px solid <color:tab/bar/background>;
	top: -<setting:font_size+15>px;
}

QTabWidget::tab-bar {
	alignment: left;
	left: 7px;
	bottom: -1px;
}

QTabBar::tab {
	background-color: <color:tab/bar/button/background/normal>;
	border: 1px solid <color:tab/bar/border>;
	border-top-left-radius: 7px;
	border-top-right-radius: 7px;
	color: <color:tab/bar/button/text/normal>;
	font-size: <setting:font_size>px;
	height: <setting:font_size+8>;
	margin-left: 3px;
	margin-top: 4px;
	width: 100px;
}

QTabBar::tab:hover {
	background-color: <color:tab/bar/button/background/hover>;
	color: <color:tab/bar/button/text/hover>;
}

QTabBar::tab:selected, QTabBar::tab:pressed {
	background-color:  <color:tab/bar/button/background/press>;
	border-bottom: 1px solid <color:tab/bar/button/background/press>;
	color: <color:tab/bar/button/text/press>;
}

QTabWidget #tab_content {
	border-top: 1px solid <color:tab/bar/border>;
	background-color: <color:tab/background>;
}


QTableView {
	color: <color:table/text/normal>;
	background-color: <color:table/table_line_1/normal>;
	alternate-background-color: <color:table/table_line_2/normal>;
	border-radius: 7px;
	border-bottom-left-radius: 2px;
	border-bottom-right-radius: 2px;
	border: 1px solid <color:table/table>;
	margin: 10px 10px 2px;
	font-size: <setting:font_size>px;
}

QTableView:disabled {
	color: <color:table/text/disabled>;
}

QTableView::item {
	border-left: 1px solid <color:table/table>;
}

QTableView::item:selected {
	color: <color:table/text/active>;
	background-color: <color:table/table_line_1/active>;
	alternate-background-color: <color:table/table_line_2/active>;
}

QHeaderView {
	background-color: transparent;
}

QHeaderView::up-arrow {
	image: url(<setting:gui_path>tabbed_view/arrow_up.png);
}

QHeaderView::down-arrow {
	image: url(<setting:gui_path>tabbed_view/arrow_down.png);
}

QHeaderView::section:horizontal {
	background-color: transparent;
	border: none;
	border-bottom: 1px solid <color:table/table>;
	border-left: 1px solid <color:table/table>;
	color: <color:table/text/normal>;
	font-size: <setting:font_size>px;
	font-weight: bold;
	padding: 2px 6px 1px;
	height: <setting:font_size+5>px;
}

QHeaderView::section:vertical {
	background-color: transparent;
	border: none;
	color: <color:table/text/normal>;
	font-size: <setting:font_size>px;
	padding: 2px 5px 1px;
}

QHeaderView::section:disabled {
	color: <color:table/text/disabled>;
}

QTableView QTableCornerButton::section {
	background-color: <color:table/background>;
	border-bottom: 1px solid <color:table/table>;
	border-top-left-radius: 7px;
}

QCheckBox {
	color: <color:table/text/normal>;
	font-size: <setting:font_size>px;
}

QLabel {
	color: <color:table/text/normal>;
}

QLabel:disabled {
	color: <color:table/text/disabled>;
}

#help_button {
	background: transparent;
	border: none;
}
