QTabWidget::tab-bar {
	alignment: left;
}

QTabBar::tab {
	background-color: <color:tab/background>;
	color: <color:tab/text>;
	padding: 12px 75px 5px 12px;
	border: 0px;
	border-bottom: 4px solid <color:tab/background>;
}

QTabBar::tab:hover {
	border-bottom: 4px solid <color:tab/hover>;
}

QTabBar::tab:selected {
	border-bottom: 4px solid <color:tab/active>;
	color: <color:tab/active>;
}

QTabWidget::pane {
	top: 0px;
	background: <color:tab/background>;
	color: <color:tab/text>;
	border: 0px;
	margin: 0px;
	padding: 0px;
}

QTableView {
	color: <color:table/text/normal>;
	background-color: <color:table/table_line_1/normal>;
	alternate-background-color: <color:table/table_line_2/normal>;
	border-radius: 10px;
	border-bottom-left-radius: 0px;
	border-bottom-right-radius: 0px;
	border: 1px solid <color:table/table>;
	margin: 10px 10px 2px;
	font-size: <setting:font_size>px;
}

QFrame {
	background-color: <color:tab/background>;
}

QTableView::item {
	border-left: 1px solid <color:table/table>;
}

QTableView::item:selected {
	color: <color:table/text/active>;
	background-color: <color:table/table_line_1/active>;
	alternate-background-color: <color:table/table_line_2/active>;
}

QHeaderView {
	background-color: transparent;
}

QHeaderView::up-arrow {
	image: url(<setting:gui_path>tabbed_view/arrow_up.png);
}

QHeaderView::down-arrow {
	image: url(<setting:gui_path>tabbed_view/arrow_down.png);
}

QHeaderView::section:horizontal {
	background-color: transparent;
	border: none;
	border-bottom: 1px solid <color:table/table>;
	border-left: 1px solid <color:table/table>;
	color: <color:table/text/normal>;
	font-size: <setting:font_size>px;
	font-weight: bold;
	padding: 2px 6px 1px;
	height: <setting:font_size+5>px;
}

QHeaderView::section:vertical {
	background-color: transparent;
	border: none;
	color: <color:table/text/normal>;
	font-size: <setting:font_size>px;
	padding: 2px 5px 1px;
}

QTableView QTableCornerButton::section {
	background-color: <color:table/background>;
	border-bottom: 1px solid <color:table/table>;
	border-top-left-radius: 10px;
}

QCheckBox {
	color: <color:table/text/normal>;
}

#help_button {
	background: transparent;
	border: none;
	/*margin: none;*/
	/*padding: none;*/
}
