[Desktop Entry]
Name=Sourcetrail
GenericName=Sourcetrail
X-GNOME-FullName=Sourcetrail
Comment=Source Code Explorer
Exec=/usr/bin/sourcetrail
Icon=sourcetrail
Terminal=false
Type=Application
MimeType=application/x-sourcetrail;
Categories=Development;
StartupNotify=true
