#titleLabel {
	color: black;
	font-size: 16pt;
	font-weight: bold;
}

QLineEdit {
	background-color: rgba(255, 255, 255, 200);
	border-radius: 10px;
	border: 1px solid lightgrey;
	padding-left: 5px;
	padding-right: 5px;
}

QLineEdit:disabled {
	border: 1px solid lightgrey;
}

#formArea {
	background-color: transparent;
	border: none;
	border-top: 1px solid lightgrey;
	border-bottom: 1px solid lightgrey;
}

#form {
	background-color: rgba(255, 255, 255, 220);
}

#form QLabel {
	font-weight: bold;
}

#moreButton {
	background-color: rgba(255, 255, 255, 200);
	border: 1px solid lightgray;
	border-radius: 10px;
	color: gray;
	font-size: 15px;
	height: 20px;
	margin-left: 10px;
	width: 28px;
}

#moreButton:hover {
	color: white;
	background: #2D3F85;
}

#windowButton {
	background: white;
	border: 1px solid lightgray;
	border-radius: 10px;
	color: black;
	font-size: 17pt;
	height: 30px;
	width: 140px;
}

#windowButton:hover {
	color: white;
	background: #2D3F85;
}
