QLineEdit {
    border-radius: 10px;
    border: 1px solid lightgrey;
    background-color: rgba(255, 255, 255, 200);
}

#form {
    background-color: rgba(255, 255, 255, 200);
    border: none;
}

#moreButton {
    font-size: 15px;
    margin-left: 10px;
    color: gray;
    border-radius: 10px;
    border: 1px solid lightgray;
    background: white;
    width: 40px;
    height: 20px;
}

#moreutton:hover {
    background: lightgray;
}

#windowButton {
    margin-left: 10px;
    color: black;
    border-radius: 10px;
    border: 1px solid lightgray;
    background: white;
    width: 40px;
    height: 20px;
}

#windowButton:hover {
    background: lightgray;
}
