* {
	color: white;
	font-size: 14px;
	font-weight: 100;
}

#closeButton {
	background: transparent;
	border: none;
	color: white;
	font-size: 14px;
	height: 24px;
	width: 24px;
}

#closeButton:hover {
	border: 2px solid white;
	border-radius: 12px;
}
