QPushButton {
	border: none;
	font-family: "Source Code Pro";
	font-size: 16px;
	height: 20px;
	padding-left: 4px;
	padding-right: 4px;
	border-radius: 2px;
}

#search_element_token {
	background-color: rgb(153,22,165);
}

#search_element_token:checked {
	background-color: rgb(160,102,165);
}

#search_element_command {
	background-color: rgb(172,150,0);
}

#search_element_command:checked {
	background-color: rgb(172,163,103);
}

#search_element_operator {
	background-color: rgb(27,136,86);
}

#search_element_operator:checked {
	background-color: rgb(103,136,121);
}

#search_element_none {
	background-color: rgb(208,93,24);
}

#search_element_none:checked {
	background-color: rgb(208,138,96);
}
