QGraphicsView, QGraphicsScene {
	background-color: <color:graph/background>;
	border: none;
}

QPushButton {
	background: <color:search/button/normal>;
	border: none;
	color: <color:search/button/icon>;
	border-radius: 5px;
}

QPushButton:disabled {
	background: <color:search/button/disabled>;
}

QPushButton:hover, QPushButton:checked {
	background: <color:search/button/hover>;
}

QPushButton:pressed {
	background: <color:search/button/press>;
}

#focus_indicator {
	background: <color:window/focus>;
}

#expand_button {
	max-width: 26px;
	max-height: 26px;
	border-radius: 9px;
}

#collapse_button {
	border-radius: 0;
	border-top-left-radius: 7px;
	border-top-right-radius: 7px;
}

#trail_button {
	border-radius: 0;
}

#depth_label {
	background: <color:search/button/normal>;
	color: <color:search/button/icon>;
}

#depth_label:disabled {
	background: <color:search/button/disabled>;
	color: <color:search/button/icon_disabled>;
}

#depth_slider {
	background: <color:search/button/normal>;
	padding-bottom: 5px;
	border-bottom-left-radius: 7px;
	border-bottom-right-radius: 7px;
}

#depth_slider:disabled {
	background: <color:search/button/disabled>;
}

#depth_slider::groove {
	margin: 5px;
	width: 2px;
}

#depth_slider::handle {
	height: 10px;
	margin: 0px -4px;
	border-radius: 5px;
}

#depth_slider::handle:hover {
	height: 12px;
	margin: 0px -5px;
	border-radius: 6px;
}

#depth_slider::groove, #depth_slider::handle {
	background: <color:search/button/icon>;
}

#depth_slider::groove:disabled, #depth_slider::handle:disabled {
	background: <color:search/button/icon_disabled>;
}

#group_left_button {
	border-radius: 0;
	border-top-left-radius: 10px;
	border-bottom-left-radius: 10px;
	max-width: 26px;
	max-height: 26px;
	padding-left: 2px;
}

#group_right_button {
	border-radius: 0;
	border-top-right-radius: 10px;
	border-bottom-right-radius: 10px;
	max-width: 26px;
	max-height: 26px;
	padding-right: 2px;
}

#legend_button
{
	border-radius: 9px;
}
