.nav-list > .active > a {
	color: #ffffff;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.2);
	background-color: #0088cc;
}

.nav-list > .active > a:hover {
	color: #ffffff;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.2);
	background-color: #0088cc;
}

.callout {
    padding: 20px;
    margin: 20px 0;
    border: 1px solid #eee;
    border-left-width: 5px;
    border-radius: 3px;
}

.callout-info {
    border-left-color: #0088cc;
}

.callout strong {
    margin-top: 0;
    margin-bottom: 5px;
}

.callout-info strong {
    color: #0088cc;
}

img {
	margin-top: 10px;
	margin-bottom: 10px;
}